.p2ZbV {
  background: #ffffff !important;
}
.KWIIWd {
  background: #ffffff !important;
}

.xPh1xb.P9KVBf {
  background: #969696 !important;
}

/* Box for Join now
/* .GN4RFc { 
  background: #e0e0e0 !important;
} */

.zWfAib:not(.zTETae):not(.n9oEIb)>.Zf0RDc {
  background: #999999 !important;
}