.p2ZbV {
  background: #ffffff !important;
}
.KWIIWd {
  background: #ffffff !important;
}

.xPh1xb.P9KVBf {
  background: #a8a8a8 !important;
}

/* Box for Join now
/* .GN4RFc { 
  background: #e0e0e0 !important;
} */

.zWfAib:not(.zTETae):not(.n9oEIb)>.Zf0RDc {
  background: #c7c7c7 !important;
}