/* .p2ZbV {
  background: #ffffff !important;
}

.KWIIWd {
  background: #ffffff !important;
} */

/* Bottom bar */
/* .xPh1xb.P9KVBf {
  background: #55585a !important; 
} */

/*Tiles*/
/* .zWfAib:not(.zTETae):not(.n9oEIb)>.Zf0RDc {
  background: #808080 !important;
} */









/* Box
.GN4RFc { 
  background: #e0e0e0 !important;
} */