.p2ZbV {
    background: #65d11c !important;
  }
  
  .KWIIWd {
    background: #65d11c !important;
  }
  
  
  .xPh1xb.P9KVBf {
    background: #55585a !important; 
  }
  
  
  .zWfAib:not(.zTETae):not(.n9oEIb)>.Zf0RDc {
    background: #808080 !important;
  }
  
  
